@media (min-width:992px) and (max-width:1199px){
  .cu_hero_title{
    font-size: 42px;
    line-height: 56px;
  }
  
  .cu_form-control {
    padding-right: 30px;
  }

  

  .cu_single_icon_card{
    padding-left: 50px;
    padding-right: 50px;
  }


  .cu_billing_paid_details_box_bottom {
    flex-direction: column;
  }


  .cu_billing_paid_next_date_box{
    width: 100%;
    margin-bottom: 20px;
  }

  .cu_billing_cancel_sub_btn_box{
    width: 100%;
    margin-bottom: 15px;
    
  }

  .cu_billing_cancel_sub_btn{
    margin-left: 0;
  }

  .cu_change_plan_btn_box{
    width: 100%;
  }

  .cu_single_em_product_details{
    padding-top: 30px;
 }
    
}


@media (min-width:768px) and (max-width:991px){
     .cu_hero_wrapper{
      padding-top: 60px;
      padding-bottom: 60px;
     }
  
     .cu_hero_title {
      font-size: 42px;
      line-height: 56px;
     }

     .cu_hero_text {
      font-size: 17px;
      line-height: 27px;
     }

     .cu_coded_tem_wrapper{
      padding-top: 40px;
     }


     .cu_coded_tem_title {
      font-size: 24px;
      line-height: 34px;
      padding-bottom: 20px;
      margin-bottom: 0;
  }


  .cu_em_tem_wrapper {
    padding-top: 40px;
   }

   .cu_em_tem_title{
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 20px;
    margin-bottom: 0;
   }


   .cu_icon_wrapper{
    padding-top: 40px;
   }

   .cu_icon_title{
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 20px;
    margin-bottom: 0;
   }

   .cu_coded_blocks_wrapper {
    padding-top: 40px;
   }

   .cu_coded_blocks_title{
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 20px;
    margin-bottom: 0;
   }

   .cu_pricing_plan_wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
   }

   .cu_package_item{
    font-size: 14px;
   }

   .cu_ld_package_item{
    font-size: 14px;
   }

   .cu_faq_wrapper {
    padding-top: 70px;
    padding-bottom: 90px;
   }

   .cu_faq_title {
    font-size: 36px;
   }

   .sm-pb-0{
    padding-bottom: 0;
   }



   /* coded template  */


   .cu_banner_search_box {
    width: 580px;
    
   }

   #cu_banner_search {
    width: 78%;
   }

   .cu_icon_pack_wrapper{
    padding-top: 40px;
   }


   .cu_billing_paid_details_box_bottom {
    flex-direction: column;
  }


  .cu_billing_paid_next_date_box{
    width: 100%;
    margin-bottom: 20px;
  }

  .cu_billing_cancel_sub_btn_box{
    width: 100%;
    margin-bottom: 15px;
    
  }

  .cu_billing_cancel_sub_btn{
    margin-left: 0;
  }

  .cu_change_plan_btn_box{
    width: 100%;
  }

  .cu_single_page_product_details {
    padding-top: 30px;
  }

  .cu_single_page_product_title{
    font-size: 30px;
    line-height: 40px;
  }

  .cu_single_em_product_details{
    padding-top: 30px;
 }

 .cu_single_em_product_title{
  font-size: 30px;
  line-height: 40px;
}
}


@media (min-width:576px) and (max-width:767px){
  
  .cu_hero_title {
    font-size: 42px;
    line-height: 56px;
      
   }

   .cu_hero_text {
    width: 510px;
    font-size: 17px;
    line-height: 27px;
     
    }


    .cu_hero_search_box {
      width: 520px;
    }

    #cu_search{
          width: 75%;
    }


    .cu_coded_tem_wrapper {
      padding-top: 30px;
      
     }
  
     .cu_coded_tem_title {
      font-size: 22px;
      line-height: 34px;
      padding-bottom: 25px;
      margin-bottom: 0;
     }
  
     .cu_coded_tem_card_footer_text {
      font-size: 14px;
      }
  
  
     .cu_em_tem_wrapper{
      padding-top: 30px;
     }
  
     .cu_em_tem_title{
      font-size: 22px;
      line-height: 34px;
      padding-bottom: 25px;
      margin-bottom: 0;
     }
  
     .cu_em_tem_card_footer_text{
       font-size: 14px;
     }
  
     .cu_icon_wrapper {
      padding-top: 30px;
      
    }
  
  
     .cu_icon_title {
      font-size: 22px;
      line-height: 34px;
      padding-bottom: 25px;
      margin-bottom: 0;
    }
  
    .cu_icon_card_footer_text {
       font-size: 14px;
    }
  
  
    .cu_coded_blocks_wrapper {
      padding-top: 40px;
      
      padding-bottom: 60px;
    }
  
    .cu_coded_blocks_title{
      font-size: 22px;
      line-height: 34px;
      padding-bottom: 25px;
      margin-bottom: 0;
    }
  
    .cu_coded_blocks_card_footer_text{
      font-size: 14px;
    }
  
  
  
    .cu_pricing_plan_wrapper {
      padding-top: 60px;

      padding-bottom: 70px;
    }
  
    .cu_pricing_plan_title {
      font-size: 40px;
      line-height: 50px;
    }
  
    .cu_pricing_plan_text {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 40px;
    }
  
    .cu_ld_pricing_card {
      margin-top: 20px;
     }
  
     .cu_faq_wrapper {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  
    .cu_faq_title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 0;
   }
  
  
   .cu_footer_wrapper {
    padding-top: 40px;
    }
  
    .sm-pb-0{
      padding-bottom: 0;
    }



    /* coded template page  */


    .cu_banner_search_box {
      width: 510px;
      
     }
  
     #cu_banner_search {
      width: 75%;
     }


     .cu_icon_pack_wrapper{
      padding-top: 30px;
     }


     .cu_billing_paid_details_box_bottom {
      flex-direction: column;
    }
  
  
    .cu_billing_paid_next_date_box{
      width: 100%;
      margin-bottom: 20px;
    }
  
    .cu_billing_cancel_sub_btn_box{
      width: 100%;
      margin-bottom: 15px;
      
    }
  
    .cu_billing_cancel_sub_btn{
      margin-left: 0;
    }
  
    .cu_change_plan_btn_box{
      width: 100%;
    }


    .cu_single_page_product_details {
      padding-top: 30px;
    }

    .cu_single_page_product_title{
      font-size: 28px;
      line-height: 38px;
    }

    .cu_single_em_product_details{
      padding-top: 30px;
   }


   .cu_single_em_product_title{
    font-size: 28px;
    line-height: 38px;
  }

     

}


@media (min-width:376px) and (max-width:575px){
  .cu_coded_tem_wrapper {
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
   }

   .cu_coded_tem_title {
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 25px;
    margin-bottom: 0;
   }

   .cu_coded_tem_card_footer_text {
    font-size: 13px;
    }


   .cu_em_tem_wrapper{
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px
   }

   .cu_em_tem_title{
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 25px;
    margin-bottom: 0;
   }

   .cu_em_tem_card_footer_text{
     font-size: 13px;
   }

   .cu_icon_wrapper {
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }


   .cu_icon_title {
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 25px;
    margin-bottom: 0;
  }

  .cu_icon_card_footer_text {
     font-size: 13px;
  }


  .cu_coded_blocks_wrapper {
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 60px;
  }

  .cu_coded_blocks_title{
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 25px;
    margin-bottom: 0;
  }

  .cu_coded_blocks_card_footer_text{
    font-size: 13px;
  }



  .cu_pricing_plan_wrapper {
    padding-top: 60px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 70px;
  }

  .cu_pricing_plan_title {
    font-size: 40px;
    line-height: 50px;
  }

  .cu_pricing_plan_text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 40px;
  }

  .cu_ld_pricing_card {
    margin-top: 20px;
   }

   .cu_faq_wrapper {
    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 60px;
  }

  .cu_faq_title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
 }


 .cu_footer_wrapper {
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 8px;
  }

  .sm-pb-0{
    padding-bottom: 0;
  }


    /* coded template  */


  .cu_coded_category_wrapper {
    padding-top: 40px;
    padding-left: 8px;
    padding-right: 8px;
   }

   /* icon pack  */

  .cu_icon_pack_wrapper {
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }


  .cu_account_settings_wrapper{
    padding-left: 8px;
    padding-right: 8px;
  }


  


  .cu_billing_paid_lifetime_wrapper{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  

  .cu_billing_paid_lifetime_title{
    font-size: 20px;
    line-height: 30px;
  }

  .cu_billing_paid_lifetime_text{
    margin-bottom: 30px;
  }

  .cu_billing_paid_lifetime_details_box{
    padding-top: 20px;
    padding-left: 25px;
  }

  .cu_billing_paid_lifetime_details_text{
    margin-bottom: 35px;
  }

  .cu_billing_paid_never_e{
    padding-top: 35px;
  }


  .cu_billing_paid_details_box_bottom {
    flex-direction: column;
  }


  .cu_billing_paid_next_date_box{
    width: 100%;
    margin-bottom: 20px;
  }

  .cu_billing_cancel_sub_btn_box{
    width: 100%;
    margin-bottom: 15px;
    
  }

  .cu_billing_cancel_sub_btn{
    margin-left: 0;
  }

  .cu_change_plan_btn_box{
    width: 100%;
  }


  .cu_forget_pass {
    width: 335px;
    }


    .cu_sign_in {
      width: 335px;
  }

  .cu_new_pass {
    width: 335px;
    
  }

  .cu_otp {
    width: 335px;
  }

  .cu_success_pass {
    width: 335px;
  }

  .cu_sign_up {
    width: 335px;
 }

 .cu_single_page_wrapper{
  padding-left: 8px;
  padding-right: 8px;
 }

 .cu_single_page_product_details {
  padding-top: 30px;
 }

 .cu_single_page_wrapper {
  padding-left: 8px;
  padding-right: 8px;
 }

 .cu_single_product_title{
  font-size: 25px;
  line-height: 35px;
}

 .cu_single_em_product_details{
      padding-top: 30px;
  }

  .cu_single_em_product_title{
    font-size: 25px;
    line-height: 35px;
  }



  /* Billing Page  */

  .cu_billing_wrapper{
    padding-left: 8px;
    padding-right: 8px;
  }



  .cu_cancel_subs {
    width: 335px;
  }


  .cu_cancel_success {
    width: 335px;
  }


  .cu_checkout_after_page_wrapper {
    padding-top: 28px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 40px;
    }


    .cu_checkout_after_logo{
      margin-top: -80px;
    }


    .cu_checkout_page_wrapper {
      padding-top: 78px;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 40px;
  }

  .cu_checkout_page_logo {
    margin-top: -80px;
  }

  

}


@media (min-width:429px) and (max-width:575px){
        
  /* home page hero area  */
   
  .cu_hero_wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .cu_hero_title{
    max-width: 475px;
    font-size: 40px;
    line-height: 56px;
  }

  .cu_hero_text{
     width: 380px;
     font-size: 16px;
     line-height: 24px;
     padding-bottom: 25px;
           
  }

  .cu_tem_version{
    padding-bottom: 40px;
  }

  .cu_tem_version_link{
  padding-right: 12px;
  }

  .cu_tem_icon{
  width: 30px;
  }

  .cu_hero_search_box{
  width: 390px;
  }
      
  #cu_search{
              width: 68%;
  }

    /* coded template cu_bannner */

  .cu_banner_search_box {
    width: 380px;
    
   }

   #cu_banner_search {
    width: 67%;
   }
}



@media (min-width:376px) and (max-width:428px){
        
    /* home page hero area  */
     
    .cu_hero_wrapper{
      padding-top: 50px;
      padding-bottom: 50px;
    }


    .cu_hero_title{
      font-size: 38px;
      line-height: 50px;
    }

  .cu_hero_text{
       width: 345px;
       font-size: 16px;
       line-height: 24px;
       padding-bottom: 25px;
             
  }

  .cu_tem_version_link{
    padding-right: 12px;
  }

  .cu_tem_icon{
    width: 25px;
  }

  .cu_hero_search_box{
    width: 320px;
  }
        
  #cu_search{
      width: 60%;
  }

  /* Category Page Coded Template  */

  .cu_banner_search_box {
    width: 340px;
    left: 5%;
   }

   #cu_banner_search {
    width: 63%;
   }

   

}




@media (max-width:375px) {

     /* common css  */
     
     .sm-mt-10{
      margin-top: 10px;
  }
    

     .sm-mt-15{
        margin-top: 15px;
    }


    .sm-mt-20{
        margin-top: 20px;
    }

    

    .sm-mb-60{
        margin-bottom: 60px;

    }
     
    .sm-pt-81{
        padding-top: 81px;
    }

    .sm-pb-0{
        padding-bottom: 0px;
    }

    
       /* <!--Homepage--> */


     /* <!--Homepage_hero_wrapper--> */
    .cu_hero_wrapper{
        padding: 50px 20px;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    .cu_hero_title{
        max-width: 279px;
        font-size: 35px;
        line-height: 45px;
         
    }

    .cu_hero_text{
        width: 309px;
        font-size: 16px;
        line-height: 24px;
        padding-top: 25px;
        padding-bottom: 38px;
    }

    .cu_tem_version{
        width: 324px;
        padding-bottom: 30px;
    }

    .cu_tem_version_link{
        padding-right: 12px;
       
    
    }
    .cu_tem_icon{
        width: 25px;
    }

    .cu_hero_search_box{
        width: 335px;
    }

    #cu_search{
        width: 60%;
    }


    /* cu_coded_tem_wrapper Start */

    .cu_coded_tem_wrapper{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

   

    .cu_coded_tem_title{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    .cu_coded_tem_card_footer_text{
        font-size: 13px;
    }

    

    


    /* <!-- Email_Templates_wrapper --> */

    .cu_em_tem_wrapper{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cu_em_tem_title{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    .cu_em_tem_card_footer_text{
        font-size: 13px;
    }

    

        /* <!-- Icon_wrapper --> */

    .cu_icon_wrapper{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cu_icon_title{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    .cu_icon_card_footer_text{
        font-size: 13px;
    }

    


     /* <!-- coded_block_wrapper --> */

    .cu_coded_blocks_wrapper{
        padding-top: 30px;

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }

    .cu_coded_blocks_title{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 25px;
        margin-bottom: 0;
    }

    .cu_coded_blocks_card_footer_text{
        font-size: 13px;
    }



    /* <!-- cu_pricing_plan_wrapper_start --> */

    .cu_pricing_plan_wrapper{
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 70px;
    }


    .cu_pricing_plan_title{
             font-size: 35px;
             line-height: 45px;
    }

    .cu_pricing_plan_text{
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 40px;
    }

    .cu_package_item{
        font-size: 14px;
    }

    .cu_ld_pricing_card{
        margin-top: 20px;
    }

    .cu_ld_package_item{
        font-size: 14px;
    }


    /* <!-- cu_faq_wrapper_start--> */

    .cu_faq_wrapper{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
    }

    .cu_faq_title{
      
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 0;
    
    }


    .accordion-button{
        font-size: 18px;
    }

    /* cu_footer_wrapper_start */

    .cu_footer_wrapper{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

     /* <!--Homepage-end-> */



    /* ==================
     Category Page Coded block 
      =================== */


      .cu_banner_title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
      }


      .cu_banner_search_box{
        width: 335px;
        margin-top: -29px;
      }
      
      #cu_banner_search{
        width: 63%;
      }

      .cu_coded_category_wrapper {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
      }

      .cu_coded_category_card_footer_text{
        font-size: 13px;
      }

       
        /* ==================
      Coded block page
      =================== */



      .cu_coded_blocks_wrapper{
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
      }


        /* ==================
      cu_icon_pack_wrapper
      =================== */

      .cu_icon_pack_wrapper{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
      } 


        /* ==================
      cu_single_icon_popup
      =================== */



      .cu_single_icon_popup {
        width: 335px;
        padding-bottom: 40px;
      }


      /* single_page  */


      .cu_single_page_wrapper{
        padding-left: 20px;
        padding-right: 20px;
      }

      .cu_single_page_product_details{
        padding-top: 20px;
      }

      .cu_single_page_product_title{
        font-size: 22px;
        line-height: 32px;
      }

      .cu_single_product_download_box{
        margin-top: 30px;
      }

      

      /* single-Page-email-template  */

      .cu_single_em_product_details {
        padding-top: 20px;
      }
      
      .cu_single_em_product_title{
        font-size: 22px;
        line-height: 32px;
      }

      .cu_single_em_product_download_box{
        margin-top: 30px;
      }

      
      /* Checout-before-login */

   
      .cu_checkout_page_wrapper{
        padding-top: 78px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
      }

        .cu_checkout_page_logo{
        margin-top: -80px;
      }

      .cu_form_msg_text{
        margin-top: 0;
        margin-bottom: 8px;
      }

      /* Checout-after-login */

      .cu_checkout_after_page_wrapper{
        padding-top: 28px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
      }
        
      .cu_checkout_after_logo{
        margin-top: -80px;
      }

      /* account_settings page */
       
      .cu_account_settings_box{
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;

      }

      .cu_account_settings_wrapper{
        padding-bottom: 52px;
      }

      /* .cu_success_updated_message_box{
          width: 375px;
          left: 0;
          top: -6.8%;
      } */

       /* .cu_reached_your_daily_limit_message_box{
        width: 375px;
        left: 0;
        top: -6.8%;
    } */


      .cu_account_settings_title{
        font-size: 20px;
        line-height: 30px;
      }

      .cu_account_settings_text{
        margin-bottom: 30px;
      }

      .cu_account_info_box{
        padding: 25px 20px 30px 20px;
        margin: 0 20px;
      }

      /* Billing Page  */

      .cu_billing_wrapper{
        padding-left: 20px;
        padding-right: 20px;
      }


      .cu_billing_box{
        padding-top: 25px;
      }


      .cu_billing_title{
        font-size: 20px;
        line-height: 30px;
      }


      .cu_billing_text{
        margin-bottom: 30px;
      }
        

      /* Billing paid Page  */

      .cu_billing_paid_wrapper{
        padding-left: 20px;
        padding-right: 20px;
      }
      
      .cu_billing_paid_title{
        font-size: 20px;
        line-height: 30px;
      }

      .cu_billing_paid_text{
        margin-bottom: 30px;
      }

      .cu_billing_paid_details_box_bottom {
        flex-direction: column;
      }

      .cu_billing_paid_next_date_box{
        width: 100%;
        margin-bottom: 20px;
      }

      .cu_billing_cancel_sub_btn_box{
        width: 100%;
        margin-bottom: 15px;
        
      }

      .cu_billing_cancel_sub_btn{
        margin-left: 0;
      }

      .cu_change_plan_btn_box{
        width: 100%;
      }




        

      /* billing_paid_lifetime page */

      .cu_billing_paid_lifetime_wrapper{
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }
      

      .cu_billing_paid_lifetime_title{
        font-size: 20px;
        line-height: 30px;
      }

      .cu_billing_paid_lifetime_text{
        margin-bottom: 30px;
      }

      .cu_billing_paid_lifetime_details_box{
        padding-top: 20px;
        padding-left: 25px;
      }

      .cu_billing_paid_lifetime_details_text{
        margin-bottom: 35px;
      }

      .cu_billing_paid_never_e{
        padding-top: 35px;
      }

      /* Cancel Subscription */

      .cu_cancel_subs {
        width: 335px;
      }

      .cu_cancel_subs_title{
            margin-top: 20px;
      }

      .cu_cancel_subs_text{
        padding-top: 10px;
      }

      /* Cancel Subscription  success*/

      .cu_cancel_success{
        width: 335px;
      }

      .cu_cancel_success_title {
        margin-top: 15px;
      }

      
      /* cu_sign_in */

      .cu_sign_in{
        width: 335px;
      }

      .cu_hr_line::before{
        width: 124px;
      }

      .cu_hr_line::after{
        width: 124px;
      }

      .cu_form_msg_text{
        margin-top: 20px;
      }

      /* cu_sign_in */

      .cu_sign_up{
        width: 335px;
      }
        
      /* forget pass  */

      .cu_forget_pass{
        width: 335px;
      }
       
      /* OTP */

      .cu_otp{
        width: 335px;
      }


      /* new_pass */

      .cu_new_pass{
        width: 335px;
        padding-top: 30px;
      }

       /* new_pass_success */

       .cu_success_pass{
        width: 335px;
        padding-top: 35px;
       }

}

